
body{
    position: relative;
}

.hero{
    display: block;
    position: relative;

}

.hero img{
    height: 95vh; 
    width: 100%;
    object-fit: cover;
    object-position: 50% 10%; 
    border-radius: 14px;
    padding: 4px;
}

.slideshow{
    display: none;
}

.init{
    display: block;
}

.fade {
    animation-name: fade;
    animation-duration: 0.01s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


.info{
    color: #fcfaf3;
    position: absolute;
    z-index: 20;
    max-width:16rem;
    bottom: 6%;
    left: 6%;
    font-size: 250%;
    font-weight: 600;
    text-shadow: -1.5px 1.5px #180720;
    background-color: #0000003d;
    border-radius: 5px;
    padding-left: 8px;

}

.navbar{
    background-color: rgba(250, 235, 215, 0.267);
    top: 0%;
    left: 0%;
    right: 0%;
    min-height: 50px;
    position: absolute;
    margin: 15px 15px 0px 15px ;
    display:flex;
    z-index: 10;
    align-items: center;
    border-radius: 18px;
}

.navbar>div{
    color: rgb(0, 0, 0);
    font-size: xx-large;
    font-weight: 700;
    flex: 1;
    text-align: center;   
}

.navbar>div:hover{
    transition: all 10ms ease-in 0ms;
    font-size: 250%;
}

.disabled{
    display: none;
}


.caruFord,.caruBack{
    color: rgba(0, 0, 0, 0.288);
    height: 3rem;
    width:3rem;
    border-style: none;
    font-weight: 100;
    font-size: xx-large;
    background-color: rgba(240, 248, 255, 0);
    border-radius: 14px;
    margin: 15px;
    transition: all 0.01s ease-in-out 0s;
}

.caruFord:hover,.caruBack:hover{
    color: black;
    background-color: rgba(250, 235, 215, 0.174);
}

.caruFord{
    position: absolute;
    top:50%;
    right: 0%;
}
.caruBack{
    position: absolute;
    top:50%;
    left:0%;
}

@media screen and (max-width: 600px){
    .navbar>div{
        font-size: large;
    }
    .caruFord,.caruBack{
        font-size: larger;
    }

    .navbar{
        min-height: 30px;
    }

    .info{font-size: 200%;}

    .navbar>div:hover{
        transition: all 100ms ease-in 0ms;
        font-size: x-large;
    }
}

@media screen and (max-width: 400px){
    .navbar>div{
        font-size: x-small;
    }
    .caruFord,.caruBack{
        font-size: larger;
    }
    .navbar{
        min-height: 25px;
    }
    .navbar>div:hover{
        transition: all 10ms ease-in 0ms;
        font-size: small;
    }
    .info{display: none;}
}
