<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/index.css">
    <title>Index</title>
</head>
<body>

    <div class="navbar">
        <div>Home</div>
        <div>Cities</div>
        <div>Aminities</div>
        <div>Tours</div>
    </div>

    <div class="hero">
        <button  class="caruFord" onclick="changeHero(1)">></button>
        <button class="caruBack" onclick="changeHero(-1)"> < </button>
        <div  class="init slideshow fade"><div class="info">Taj Mahal , Agra</div><img src="../assets/LocationPhotos/TajMahal.jpg" alt="Taj Mahal"  class="hero-img " ></div>
        <div class="slideshow fade"><img src="../assets/LocationPhotos/GolddenTemple.jpg" alt=""   class="hero-img"><div class="info">Golden Temple , Punjab</div></div>
        <div class="slideshow fade"><img src="../assets/LocationPhotos/TajMahal2.jpg" alt=""    style="object-position: 50% 70%; " class="hero-img fade"><div class="info">Taj Mahal , Agra</div></div>
        <div class="slideshow fade"><img src="../assets/LocationPhotos/CharMinar.jpg" alt=""   class="hero-img fade"><div class="info">Charminar , Hyderabad</div></div>
        <div class="slideshow fade"><img src="../assets/LocationPhotos/EloraCaves.jpg" alt=""   class="hero-img fade"><div class="info">Elora Caves , Maharashtra</div></div>
        <div class="slideshow fade"><img src="../assets/LocationPhotos/GatewayOfIndia.jpg" alt="" style="object-position: 50% 20%; "   class="hero-img fade"><div class="info">Gateway Of India , Mumbai</div></div>
        <div class="slideshow fade"><img src="../assets/LocationPhotos/GolddenTemple2.jpg" alt=""   class="hero-img fade"><div class="info">Golden Temple , Punjab</div></div>
        <div class="slideshow fade"><img src="../assets/LocationPhotos/Hampi.jpg" alt=""    style="object-position: 50% 40%; " class="hero-img fade"><div class="info">Hampi , Karnataka</div></div>
        <div class="slideshow fade"><img src="../assets/LocationPhotos/HavaMahal.jpg" alt=""   class="hero-img fade"><div class="info">Hawamahal , Jaipur</div></div>
        <div class="slideshow fade"><img src="../assets/LocationPhotos/MysorePalace.jpg" alt=""   class="hero-img fade"><div class="info">Mysore Palace , Karnataka</div></div>
        <div class="slideshow fade"> <img src="../assets/LocationPhotos/QutubMinar.jpg" alt=""    style="object-position: 50% 40%; " class="hero-img fade"><div class="info">Qutub Minar , New Delhi</div></div>
        <div class="slideshow fade"> <img src="../assets/LocationPhotos/CharMinar2.jpg" alt=""    style="object-position: 50% 70%; " class="hero-img fade"><div class="info">Charminar , Hyderabad</div></div>
        <div class="slideshow fade"> <img src="../assets/LocationPhotos/GatewayOfIndia2.jpg" style="object-position: 50% 10%; " alt=""   class="hero-img fade"><div class="info">Gateway Of India , Mumbai</div></div>
        <div class="slideshow fade"><img src="../assets/LocationPhotos/Hampi2.jpg" alt=""    style="object-position: 50% 60%; " class="hero-img fade"><div class="info">Hampi , Karnataka</div></div>

    </div>

    <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis quo distinctio voluptatem eum modi iure earum corporis, fuga molestiae nemo ipsa quidem dolorum obcaecati, doloribus qui aspernatur deleniti magni neque consectetur molestias saepe provident libero similique. Incidunt consectetur ut facere odit quo eaque, possimus quas iste at eveniet eligendi accusamus doloribus commodi, necessitatibus aliquam amet, ad neque vel perferendis sed ratione facilis minus. Dicta corporis voluptate, itaque dolorum et cum explicabo unde minus quasi! Distinctio velit debitis quod voluptate non? Ducimus, amet consequatur. Libero perspiciatis voluptate rerum itaque iste fugiat, similique ipsam eligendi, placeat illo expedita ab deleniti sint perferendis alias pariatur ipsa facilis maxime rem ratione natus ducimus odio! Aut dolorem eum accusantium, odit labore amet consequatur, perferendis, illo sequi sit tempora minus commodi. Quas corporis ea quaerat culpa reprehenderit fugit quibusdam beatae quis, id repellendus. Ullam architecto dignissimos debitis molestias eveniet non maxime enim, quibusdam quidem quam quis nulla temporibus cupiditate quas explicabo placeat obcaecati. Eveniet eos delectus cum consectetur accusantium autem tempora voluptates aut esse. Impedit dolorum illo delectus eos dolor aperiam voluptatem aut doloremque voluptatibus architecto, facere ut perspiciatis eveniet nam minus laudantium excepturi asperiores eligendi placeat officia at quos recusandae! Eligendi facere ad, dolor eaque tenetur distinctio explicabo! Debitis alias aliquid, sapiente aperiam earum suscipit harum dignissimos commodi facilis officia, minima numquam, quidem impedit deserunt. Inventore aspernatur maiores beatae quam officia molestiae illo praesentium architecto est, fugiat totam sed provident esse ad nemo adipisci nisi repellendus voluptatibus dolore asperiores porro quas. Placeat temporibus sed tempore expedita saepe debitis aut minus porro reprehenderit autem recusandae, soluta, earum eligendi in nesciunt veritatis numquam nobis magni commodi. Quasi, veniam eveniet quos doloribus obcaecati provident distinctio quo porro quis nisi soluta nam, corporis tenetur harum saepe quae quia iusto necessitatibus reiciendis. Voluptatem repudiandae accusantium rerum repellendus dolorem dolorum corporis! Nostrum cumque hic suscipit reprehenderit quo dolorem maxime, numquam unde accusamus. Sequi consectetur officia nostrum accusantium, id eos iusto debitis, voluptatem ipsum, quasi assumenda? Quo, consequuntur earum? Enim commodi placeat cum consectetur neque repellendus ratione possimus molestias totam animi autem at, cupiditate ullam earum accusamus!</div>

    gnbsakjgsdg



    <script src="../scripts/index.js"></script>
</body>
</html>